<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <div class="banner">              
        <strong>BERKLORDS</strong> is a free database of landlords at <strong>CAL</strong>.     
    </div>
    {% if not current_user.is_authenticated %}
    <div class="button1">
       	<a href="{{ url_for('oauth_authorize', provider='facebook') }}">Login with Facebook</a>
    </div>
    {% endif %}
</body>
</html>